* {
    margin: 0;
    border: 0;
    box-sizing: border-box;
}

/* GENERAL RULES */

body {
    font-family: 'Montserrat', sans-serif;
    background-color: #141922;
    color: white;
}

body span {
    font-size: 11px;
    color: gray;
}

body a {
    text-decoration: none;
    color: grey;
}

body ul {
    list-style: none;
}

.gray {
    color: gray;
}

.white {
    color: white;
}

/* STRUCTURE RULES */

div.container {
    width: 100%;
    max-height: calc(100vh - 80px);
    display: flex;
}

aside {
    width: 200px;
    min-height: calc(100vh - 80px);
    background-color: black;
    padding: 20px;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
}

main {
    width: calc(100% - 200px);
    max-height: calc(100vh - 80px);
    /* padding-top: 100px; */
    overflow-y: auto;
    display: flex;
    flex-wrap: wrap;
}

div.topbar {
    background-color: rgba(0, 0, 0, 0.6);
    height: 90px;
    min-width: 100%;
    position: absolute;
    /* display: fixed; */
    top: 0;
    right: 0;
    z-index: 30;
    text-align: right;
    padding: 30px 25px;
}


main > nav {
    margin-top: 100px;
    width: 100%;
}

div.player {
    height: 80px;
    width: 100%;
    background-color: #282828;
}

/* TOP */

.btn {
    font-size: 11px;
    color: white;
    padding: 12px 35px;
    border: 1px solid white;
    border-radius: 26px;
    margin-right: 5px;
    margin-bottom: 8px;
}

/* SIDEBAR */

#logo_full {
    width: 120px;
    margin-bottom: 10px;

}

.icon_nav {
    width: 24px;
    filter: brightness(0.7);
    vertical-align: middle;
}

.icon_nav.highlighted {
    filter: brightness(0.9);
}

span.line_nav {
    color: #adff2f;
    font-weight: a00;
    font-size: 36px;
    margin-left: -21px;
    /* margin-right: 4px; */
    position: relative;
    bottom: -8px;
    left: -1px;
}

aside nav {
    margin-bottom: 20px;
}

aside nav ul{
    padding-left: 0;
}

aside nav ul li{
    margin-bottom: 8px;
}

/* aside nav ul li a span{
    line-height: 12px;
} */

/* MAIN */

/* FOOTER */
