/* GENERAL RULES */

* {
    margin: 0;
    border: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Montserrat', sans-serif;
    background-color: #141922;
    color: white;
}

body span {
    font-size: 11px;
    color: gray;
}

aside span:hover {
    color: white;
}

aside span, aside a {
    line-height: 30px;
}

body a {
    text-decoration: none;
    font-size: 11px;
    color: grey;
}

body a:hover, body a:hover > span, body a:hover span > img {
    color: white;
    filter: brightness(1);
}

body ul {
    list-style: none;
    padding-left: 0;
}

body img {
    max-width: 100%;
}

body hr {
    border-top: 1px solid gray;
    margin-bottom: 10px;
}


.gray {
    color: gray;
}

.white {
    color: white;
}

.black {
    color: black;
}

.txt_big {
    font-size: 13px;
}

/* STRUCTURE RULES */

div.container {
    width: 100%;
    max-height: calc(100vh - 80px);
    display: flex;
}

/* SIDEBAR */

aside {
    width: 200px;
    height: calc(100vh - 80px);
    background-color: black;
    padding: 20px;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
}

#logo_full {
    width: 120px;
    margin-bottom: 30px;
}

aside nav {
    width: 100%;
    margin-bottom: 20px;
}

.icon_nav {
    width: 24px;
    filter: brightness(0.7);
    vertical-align: middle;
}

.highlighted {
    filter: brightness(0.85);
}

span.line_nav {
    color: #adff2f;
    font-weight: a00;
    font-size: 36px;
    margin-left: -21px;
    position: relative;
    bottom: -8px;
    left: -1px;
}

aside nav ul li{
    margin-bottom: 8px;
}

span.plus {
    background-color: gray;
    display: inline-block;
    width: 32px;
    height: 32px;
    padding: 0px 9px;
    font-size: 16px;
    margin: 10px 0;
    margin-right: 4px;
}

div.crtpl:hover span.plus {
    background-color: white;
}

div.crtpl:hover span.txt_big {
    color: white;
}

div.playlist {
    width: 100%;
    min-height: 0px;
    flex: 1 1 auto;
    overflow-y: auto;
}

div.user {
    width: 100%;
    align-self: flex-end;
    min-height: auto;
}

.arrow_d {
    font-size: 6px;
    border: 1px solid gray;
    border-radius: 50%;
    padding: 1px 0px 0px 2px;
    margin-right: 6px;
}

div.user span:hover > span {
    color: white;
}

div.user span:hover span.arrow_d {
    border: 1px solid white;
}

.userico {
    background-color: gray;
    border-radius: 50%;
    padding: 3px 0px 0px 3px;
    margin-right: 6px;
}

.userico > img {
    max-width: 12px;
}

/* TOP */

div.topbar {
    background-color: rgba(0, 0, 0, 0.6);
    height: 90px;
    width: calc(100% - 217px);
    position: absolute;
    top: 0;
    right: 17px;
    z-index: 30;
    text-align: right;
    padding: 30px;
}

.btn {
    font-size: 11px;
    color: white;
    padding: 12px 35px;
    border: 1px solid white;
    border-radius: 26px;
    margin-bottom: 8px;
    margin-right: 8px;
}

.btn:hover {
    font-size: 12px;
    color: white;
    padding: 14px 38px;
    border: 1px solid white;
    border-radius: 26px;
    margin-bottom: 2px;
    margin-right: 0px;
}


/* MAIN */

main {
    width: calc(100% - 200px);
    min-height: 100px;
    max-height: calc(100vh - 80px);
    padding: 18px;
    overflow-y: auto;
    display: flex;
    flex-wrap: wrap;
}

main > nav {
    margin: 100px 0px 30px;
    width: 100%;
}

main nav ul {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

main nav ul li {
    margin: 0 10px 15px;
    font-size: 14px;
}

#current {
    position: relative;
    padding-bottom: 4px;
}

#current:after {
    content: "";
    position: absolute;
    bottom: 0px;
    left: 33%;
    width: 34%;
    border-bottom: 2px solid #adff2f ;
}

.row > h2 {
    margin: 20px 0px;
    width: 100%;
}

.row > span {
    width: 100%;
}

.row {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    align-content: space-between;
}

.album {
    margin: 20px 0px;
    padding-right: 10px;
    width: calc(100% / 6) ;
    /* min-width: 100px ; */
    text-align: center;
}

.album img {
    margin-bottom: 5px;
}

.album img.artist {
    border-radius: 50%;
}

.album_img {
    position: relative;
    text-align: center;
}

.play {
    display: none;
    position: absolute;
    left: calc(40% - 6px);
    font-size: 3.5vw;
    margin-top: calc(6vw - 20px);
    /* margin-left: calc(-60% + -4px); */

}

.album:hover span {
    color: white;
}


.album:hover img {
    filter: brightness(0.4);
}

.album:hover .play {
    display: inline-block;
}

/* PLAYER */

div.player {
    height: 80px;
    width: 100%;
    background-color: #282828;
}

